# Documentation
mkdocs-material

# Core libraries
python-dotenv  # For loading environment variables from .env files

# Data manipulation and visualization
matplotlib==3.10.3  # For creating visualizations
numpy==2.3.1  # For numerical computations
pandas  # For data manipulation and analysis

#MCP Server
uv

# Python Notebooks
ipykernel

## Demo 1: Basic Fine Tuning
openai 
requests 
tiktoken 
numpy

## Demo 2: Distillation
azure-identity # Azure Cognitive Services for model deployment
azure-mgmt-cognitiveservices

## Demo 3: RAFT

-r src/demo-raft/notebooks/requirements.txt
